.wrap {
  padding-top: 18px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row {
  display: flex;
  gap: 6px;
  align-items: baseline;
  flex-wrap: wrap;
}

.k {
  font-weight: 700;
}

.v {
  font-weight: 400;
}

.divider {
  margin: 14px 0;
}

.dienst {
  display: flex;
  gap: 6px;
  align-items: baseline;
}
