.wrap {
  padding-top: 18px;
}

.w-100 {
  width: 100%;
}

.muted {
  color: rgba(0, 0, 0, 0.65);
}

.actions {
  display: flex;
  justify-content: flex-end;
}


.input-row {
  display: flex;
  gap: 16px;
  width: 100%;

  // On small screens, stack them vertically again
  @media (max-width: 600px) {
    flex-direction: column;
    gap: 0;
  }
}
