<div class="wrap">
  <mat-card>
    <mat-card-title>Einstellungen</mat-card-title>
    <mat-card-content>
      <p class="muted">
        Hier kannst du z. B. den Startkarten-Pfad, Timeouts, Ports, Logging usw. konfigurieren.
      </p>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Startkarten-Pfad</mat-label>
        <input matInput [(ngModel)]="startkartenPfad" />
      </mat-form-field>

      <div class="actions">
        <button mat-stroked-button color="primary">Speichern</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
